@font-face {
    font-family: halloween;
    src: url("../fuentes/Halloween.ttf");
  }
#wrapper {background-image: url("../imagenes/fondo.png");
        width: 1108px;
        height: 623px;
        margin: 10px auto; /*Centra el wrapper*/
        font-family: 'Creepster', cursive;
        position: relative;
        }
body {background-color: #000407;
        overflow: hidden;}    
#titulo {font-size: 2em;
        color: darkorange;
        position:absolute;
        top:10px;
        left:30px;
          }
#p1 {position: absolute;
      top:535px;
      left:350px;
      font-size: 40px;
      font-family: 'halloween';
        color: red;}
#zombie {position: absolute;
        top: 400px;
        left: 460px;
        visibility: hidden;
        cursor: crosshair;
        }
#door { width: 70px;
        height: 90px;
        position: absolute;
        top: 402px;
        left: 540px;
        }
#surprisepumpkin {position: absolute;
                width: 115px;
                height: 55px;
                top: 505px;
                left: 174px;
                cursor: -webkit-grabbing; cursor: grabbing;
                }
#skeleton {top: 0px;
        left: 0px;
        position: absolute;
        }
#moon {top: -60px;
        left: 1440px;
        position: absolute;
        }
#halloweentext {top: 740px;
                left: 512px;
                position: absolute;
              }
#bats {top: 400px;
      left: 500px;
      position: absolute;}
#screamer {visibility: hidden;
        position: absolute;
        top: 100px;
        left: 600px;}